
<form  action="<%= comments_url %>" method="post">
 <%= auth_token %>

 <label for="Comment">Comment: </label>
 <input id= "Comment" type="text" name="comment[body]" value="">

 <input type="submit" name="" value="Add Comment">

</form>
