<section class = "masthead">
  <ul class = "language-nav">
    <li> <a href="#"> CSS </a> </li>
    <li> <a href="#"> HTML </a> </li>
    <li> <a href="#"> Javascript </a> </li>
    <li> <a href="#"> Ruby </a> </li>
  </ul>

  <figure class= "logo">
    <img src="assets/AA_Times_Logo.png" alt="App Academy Times logo">
  </figure>
  <ul class = "masthead-links">
    <li> Tuesday, October 18, 2016 </li>
    <li id="newspaper-modal-btn">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <span><a href="#">Today's paper</a></span>
    </li>
    <li id="video-modal-btn">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <span><a href="#">Video</a></span>
    </li>
    <li> 77°F </li>
    <li> AAO <strong>+100%</strong></li>

  </ul>
</section>
