<section class = "sections-nav" alt = "sections nav bar">
  <ul class = "sections-links">
    <li alt ="link to world news"><a href="#"> World </a></li>
    <li alt ="link to San Francisco news"><a href="#"> San Francisco </a></li>
    <li alt ="link to New york news"><a href="#"> New York </a></li>
    <li alt ="link to Bootcamp news"><a href="#"> Bootcamp Prep </a></li>
    <li alt ="link to Jumpstart news"><a href="#"> Jumpstart </a></li>
    <li alt ="link to Online news"><a href="#"> Online </a></li>
    <li alt ="link to Marketing department"><a href="#"> Marketing </a></li>
    <li alt ="link to Sales department"><a href="#"> Sales </a></li>
    <li alt ="link to TalentMatch department"><a href="#"> TalentMatch </a></li>
    <li alt ="link to Alumni"><a href="#"> Alumni </a></li>
    <li alt ="link to All"><a href="#"> All </a></li>
  </ul>
</section>
