<h1>New Link</h1>
<form  action="<%= links_url %>" method="post">
  <%= auth_token %>
  <label for="title">Title: </label>
  <input id= "title" type="text" name="link[title]" value="">

  <label for="URL">URL: </label>
  <input id= "URL" type="text" name="link[URL]" value="">

  <input type="submit" value="Create New Link">
</form>
