<h1>Welcome to my awesome site!</h1>

<p>Hey there <%= @user.username %> we just need to make sure that you are a real human, please click on  <a href="verification_link.aps.com">this link</a> to finish up the sign up process. </p>

<p>Yours, the awesome site team.</p>
